.sections {
    min-height: 400px;
    border: 1px solid black;
    margin-left: 10px;
  }
  
  .points {
    float: left;
    margin: 50px;
    border: 1px solid black;
    width: 40px;
    height: 40px;
    padding-top: 6px;
  }
  .points-section {
    padding: 40px !important;
  }
  